.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background: linear-gradient(to right, #f5f5f5 50%, #006241 50%);
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 50%;
  height: 75%;
  background: #fff;
  opacity: 0.9;
}

.content .description {
  /* margin: 5px; */
  font-size: 18x;
  padding: 20px;
  font-weight: 500;
}
.background .img-left {
  position: absolute;
  top: 43%;
  left: 200px;
  /* margin-left: 100px; */
  height: 50px;
  width: 50px;
}

.background .img-right {
  position: absolute;
  top: 43%;
  right: 200px;
  height: 50px;
  width: 50px;
}

.communityPartner {
  padding: 50px;
}
.communityPartner .image-container {
  position: relative;
  width: 410px;
  margin-right: 10px;
  height: 510px;
}
.communityPartner .image-container .first-image {
  border: none;
  width: 300px;
  height: 400px;
  clip-path: polygon(0 0, 100% 0, 100% 24%, 32% 24%, 32% 100%, 0 100%);
}
.communityPartner .image-container .first-image img {
  border-radius: 50px 0 0 0;
  height: 100%;
  width: 100%;
}
.communityPartner .image-container .second-image {
  bottom: 2px;
  right: 2px;
  position: absolute;
  width: 300px;
  height: 400px;
}
.communityPartner .image-container .second-image img {
  border-radius: 0 0 50px 0;
  height: 100%;
  width: 100%;
}
.communityPartner .content {
  height: 510px;
  width: 500px;
  margin: 10px;
  overflow: hidden;
  position: relative;
}
.communityPartner .content .title {
  text-align: left;
  color: #006241;
  font-weight: bolder;
}
.communityPartner .content .desc {
  margin: 0 auto;
  /* Center the container horizontally */
  text-align: justify;
  /* Justify the text to align both the left and right edges */
  line-height: 1.5;
  font-size: 17px;
  color: #222;
  font-weight: 500;
  padding-top: 20px;
}
.communityPartner .content .tearfund-container {
  padding: 10px;
}
.communityPartner .content .tearfund-container .first::before {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #085743;
}
.communityPartner .content .tearfund-container .second::after {
  height: 50px;
  background-color: #085743;
}
