.cp-activities {
  background: linear-gradient(#ffffff 50%, #0db97f 50%);
  padding: 30px 0;
  margin-bottom: 120px;
}
.cp-activities .cpa-item {
  position: relative;
  overflow: hidden;
}
.cp-activities .cpa-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: relative;
}
.cp-activities .cpa-item .item-title {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #067742d7, #0f0e0ed4);
  position: absolute;
  top: 100%;
  left: 100%;
  display: flex;
  align-items: center;
  padding: 25px;
  opacity: 0;
  transition-duration: 0.3s;
}
.cp-activities .cpa-item:hover .item-title {
  top: 0;
  left: 0;
  opacity: 1;
}
.cp-activities .cpa-item .item-title h3 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
}
